# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dungeon.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Makabos Technologies\Game Development\Dungeon\.idea\.idea.Dungeon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
